#blocker-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw; 
    height: 100vh; 
    background: rgba(55, 55, 55, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

#blocker-msg{
    background: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
}
